<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algorithm Results</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Algorithm Results</h1>

        <h2>Algorithm: {{ algorithm }}</h2>

        <h2>Input Data</h2>
        <p><strong>Number of Students:</strong> {{ num_students }}</p>
        <p><strong>Number of Colleges:</strong> {{ num_colleges }}</p>

         <h3>Students' Valuations</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Student</th>
                    {% for c in range(1, num_colleges|int + 1) %}
                        <th>C{{ c }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for student, valuations in student_valuations.items() %}
                    <tr>
                        <td>{{ student }}</td>
                        {% for college, value in valuations.items() %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if algorithm == 'FaStGen' %}
        <h3>Colleges' Valuations</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>College</th>
                    {% for s in range(1, num_students|int + 1) %}
                        <th>S{{ s }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for college, valuations in college_valuations.items() %}
                    <tr>
                        <td>{{ college }}</td>
                        {% for student, value in valuations.items() %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        <h2>Algorithm Output</h2>
        <!-- Add algorithm results here -->
    </div>
</body>
</html>
