blinker==1.9.0
cffi==1.15.1
clarabel==0.11.1
click==8.2.1
colorama==0.4.6
contourpy==1.3.2
cvxopt==1.3.2
cvxpy==1.6.6
cvxpy-base==1.6.6
cycler==0.12.1
experiments_csv==0.6.0
Flask==3.1.1
Flask-WTF==1.2.2
fonttools==4.58.4
iniconfig==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.1
kiwisolver==1.4.8
MarkupSafe==3.0.2
matplotlib==3.10.3
mip==1.15.0
networkx==3.5
networkz==1.0.6
numpy==1.26.4
osqp==1.0.4
packaging==25.0
pandas==2.3.0
pillow==11.2.1
pluggy==1.6.0
prtpy==0.8.3
pycparser==2.22
Pygments==2.19.1
pyparsing==3.2.3
pytest==8.4.1
python-dateutil==2.9.0.post0
pytz==2025.2
scipy==1.15.3
scs==3.2.7.post2
six==1.17.0
tzdata==2025.2
Werkzeug==3.1.3
WTForms==3.2.1
