<table class="table table-sm table-bordered text-center">
  <thead class="table-light"><tr>
    <th style="width:4rem">Round</th>
    <th>Agent&nbsp;0 bundle</th><th>Agent&nbsp;1 bundle</th>
    <th style="width:8rem">A0&nbsp;✓</th><th style="width:8rem">A1&nbsp;✓</th>
  </tr></thead>
  <tbody>
  {% for idx in range(rounds|length) %}
    <tr>
      <td>{{ idx+1 }}</td>
      <td>{{ rounds[idx][0] }}</td>
      <td>{{ rounds[idx][1] }}</td>
      <td>{{ checks[idx][0] }}</td>
      <td>{{ checks[idx][1] }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
